*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(172, 239, 187);
}
#wrapper{
    background-color: rgb(15, 235, 52);
    height: 60vh;
    width: 50%;
    border-radius: 3%;
    position: relative;
    right: -25%;
    padding: 20px;
    text-align: center;
   
}
